[submodule "apps/nextjs"]
	path = apps/nextjs
	url = https://github.com/maxloo2/boilerplate-nextjs-typescript
	branch = turborepo
[submodule "apps/nestjs"]
	path = apps/nestjs
	url = https://github.com/maxloo2/boilerplate-nestjs-typescript
	branch = turborepo
[submodule "apps/nodejs"]
	path = apps/nodejs
	url = https://github.com/maxloo2/boilerplate-nodejs-typescript
	branch = turborepo
